:root {
    /* COLORS */
    --white: hsl(0,0%,100%);
    --black: hsl(0,0%,0%);
    --dark-gray: hsl(0,0,55%);
    --very-dark-gray: hsl(0,0%,41%);
}



/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

body {
    font-size: 15px;
}

.heading-l {
    font-size: 40px
}

.heading-m {
    font-size: 32px;
}

/* UTILITY */
.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.display-hide {
    display: none;
}

/* STYLINGS */
.header {
    background-image: url('./images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    padding: 40px 24px;
    position: relative;
}

.logo {
    z-index: 100;
}

.menu-btn {
    z-index: 100;
}

.nav-desktop {
    display: none;
}

.nav-mobile {
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.nav-mobile li  {
    margin: 12px 0;
}

.nav-mobile li a {
    font-size: 24px;
    cursor: pointer;
}

.text-container {
    margin-top: 227px;
    border: 2px solid var(--white);
    padding: 24px;
    width: 327px;
}

.text-container h1 {
    color: var(--white);
    line-height: 38px;
}

.leader-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    padding: 0 24px;
}

.leader-section h1 {
    text-align: center;
    margin: 48px 0 16px 0;
}

.leader-section p {
    text-align: center;
    line-height: 25px;
    color: var(--dark-gray);
    font-weight: 400;
}

.creations-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.creations-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creations-section h1 {
    font-size: 32px;
    margin-bottom: 48px;
}

.creations-section .article {
    width: 327px;
    margin: 12px 0;
    position: relative;
}

.creations-section .article p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 24px;
    color: var(--white);
    font-weight: 200;
}

.creations-section .btn-all-mobile {
    width: 157px;
    height: 40px;
    border: 1px solid var(--very-dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 34px;
}

.footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
}

.footer img {
    margin-top: 56px;
}

.footer ul:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer ul:nth-child(2) li a {
    display: block;
    font-size: 15px;
    margin-top: 16px;
    color: var(--white);
}

.footer ul:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
}

.footer p {
    color: var(--white);
    margin-top: 16px;
    margin-bottom: 48px;
}


@media screen and (min-width: 1125px) {
    .header {
        background-image: url('./images/desktop/image-hero.jpg');
        padding: 64px 165px;
    }
    .text-container {
        width: 650px;
    }
    .text-container h1 {
        font-size: 72px;
        line-height: 70px;
    }
    .nav-mobile {
        display: none;
    }
    .menu-btn {
        display: none;
    }
    .nav-desktop {
        all: unset;
        display: flex;
        flex-direction: row;
    }
    .nav-desktop li {
        list-style: none;
        margin: 0 16px;
    }
    .nav-desktop li a {
        font-size: 15px;
        color: var(--white)
    }
    .leader-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .leader-section .image-container {
        width: 731px;
        height: 500px;
    }
    .leader-section .image-container img {
        display: block;
        width: 731px;
        height: 500px;
    }
    .leader-section .container {
        margin-left: -110px;
        margin-top: 182px;
        padding: 44px 44px 0 44px;;
        background-color: var(--white);
        width: 541px;
        height: 317px;
    }
    .creations-section .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 1125px;
    }
    .creations-section .article {
        width: 256px;
        margin: 12px;
        position: relative;
    }
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 165px;
    }
    .footer .container ul,
    .footer .container img {
        margin-top: 0;
    }
    .footer ul:nth-child(2) {
        flex-direction: row;
    }
    .footer ul:nth-child(2) li {
        margin-right: 18px;
    }
    .footer ul:nth-child(1) {
        margin-top: 16px;
    }


}